cdst-business/conferenza/src/main/java/conferenza/adapder/integrazioni/paleo/proxy/xsd4.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/RegioneMarche.Protocollo.Common.Tipi" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RegioneMarche.Protocollo.Common.Tipi">
<xs:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
<xs:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
<xs:complexType name="ArrayOfIpaEntry">
<xs:sequence>
<xs:element minOccurs="0" maxOccurs="unbounded" name="IpaEntry" nillable="true" type="tns:IpaEntry"/>
</xs:sequence>
</xs:complexType>
<xs:element name="ArrayOfIpaEntry" nillable="true" type="tns:ArrayOfIpaEntry"/>
<xs:complexType name="IpaEntry">
<xs:sequence>
<xs:element minOccurs="0" name="Cap" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="CodiceAmm" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="CodiceAoo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="CodiceUo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Comune" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="DN" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Indirizzo" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Mail" nillable="true" type="xs:string"/>
<xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObjectClass" nillable="true" type="q1:ArrayOfstring"/>
<xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string"/>
<xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="IpaEntry" nillable="true" type="tns:IpaEntry"/>
<xs:complexType name="TipoDocumento">
<xs:sequence>
<xs:element name="_Descrizione" nillable="true" type="xs:string"/>
<xs:element name="_IdTipoDocumento" type="xs:int"/>
<xs:element name="_x003C_Codice_x003E_k__BackingField" nillable="true" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:element name="TipoDocumento" nillable="true" type="tns:TipoDocumento"/>
<xs:simpleType name="TipoStatoProtocollo">
<xs:annotation>
<xs:appinfo>
<ActualType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema"/>
</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="Indefinito"/>
<xs:enumeration value="Predisposto"/>
<xs:enumeration value="PredispostoInterop"/>
<xs:enumeration value="Protocollato"/>
<xs:enumeration value="Annullato"/>
<xs:enumeration value="PredispostoAnnullato"/>
</xs:restriction>
</xs:simpleType>
<xs:element name="TipoStatoProtocollo" nillable="true" type="tns:TipoStatoProtocollo"/>
<xs:simpleType name="TipoProtocollo">
<xs:annotation>
<xs:appinfo>
<ActualType xmlns="http://schemas.microsoft.com/2003/10/Serialization/" Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema"/>
</xs:appinfo>
</xs:annotation>
<xs:restriction base="xs:string">
<xs:enumeration value="Ingresso">
<xs:annotation>
<xs:appinfo>
<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">1</EnumerationValue>
</xs:appinfo>
</xs:annotation>
</xs:enumeration>
<xs:enumeration value="Uscita">
<xs:annotation>
<xs:appinfo>
<EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">2</EnumerationValue>
</xs:appinfo>
</xs:annotation>
</xs:enumeration>
</xs:restriction>
</xs:simpleType>
<xs:element name="TipoProtocollo" nillable="true" type="tns:TipoProtocollo"/>
</xs:schema>